.header{
    margin: 0 auto;
        background-image: linear-gradient(rgba(115,104,230,0.3), rgba(115,104,230,0.3)),url(../images/pexels-polina-tankilevitch-5469045.jpg);
        min-height: 500px;
        overflow: hidden;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    
}