nav{
    height: 100px;
    width: 100%;
    background-color: #7267E3;
     display: flex;
     align-items: center; 
     justify-content: space-evenly;
     position: relative;

     .links{
        position: absolute;
        left: 50px;
        width: 200px;
         display: flex;
         align-items: center; 
         justify-content: space-evenly;
        a{
            color: white;
            text-decoration: none;
            font-size: 25;
            text-transform: uppercase;
            font-family: 'Lucida Sans';
            img{
                height: 120px;
            }
        }
     }

     .sign-in-button{
        position: absolute;
        right: 50px;
        i{
            color: white;
            font-size: 25px;
            padding-left: 10px;
        }

        a{
            color: white;
            text-decoration: none;
            font-size: 25;
            text-transform: uppercase;
            font-family: 'Lucida Sans';

        }
     }
}